venv/
__pycache__/
*.pyc
.env

# Ignore actual data files but ALLOW .dvc pointer files
data/raw/*
data/interim/*
data/processed/*
!data/raw/**/*.dvc
!data/interim/**/*.dvc
!data/processed/**/*.dvc
!data/raw/.gitignore
!data/interim/.gitignore
!data/processed/.gitignore

.dvc/cache/
.dvc/tmp/
*.log
models/
archive/city_day.csv
archive/city_hour.csv
archive/station_day.csvmlruns/
logs/
/models
